*{
	margin:0;
	padding: 0;
	z-index: 0;
}
/*logobarra parte supperior*/
body{
	background-color:black; 
}
#ind{
	bottom:0px;
	top: 0px;
	right:0px;
	left: 0px;  
	margin:0 auto;
	width: 1345px;
	height:60px; 
	background-color:black; 
	font-family:arial, helveltica,san-serif; 
	z-index: 6;
}
.nad{
	margin: auto;
	margin-left: 250px;
}
.nar{
	background: -webkit-linear-gradient(#F83636,#540505);
	margin:auto;
	height:200px; 
}
ul,ol{

	list-style: none;
	width:1300px; 
	margin-left: 40px;
}
.nad li a{
	
	color:#fff;
	text-decoration:none;   
	padding:18px 15px; 
	display:block;  
	margin: auto;
}
.col li a{
	background-color:#BBBBBB;
	height: 50px; 
}
.nad li a:hover{
	background-color:#304545; 
}
.nad > li{
 float:left; 
 width:150px; 
 height:50px;
 z-index: 1;
}

.nad li ul{
	display:none;
	position: absolute;
	min-width: 140px;
}
.nad li:hover > ul{
	display: block;
	width:150px;
	height: 30px; 

}
.logo {
    width: 300px;
    height: 170px;
    position: absolute;
    left:0px;
    top:-45px;
    margin-right:100px; 
    margin:0 auto;
    float: left;  
}
.slider{

	width: 1200px;
	margin-left: 80px;
	top: 0px;
	overflow: hidden;
	z-index: 6;

}
.slider ul{
    list-style: none;
    width: 2800px;
    display: flex; 
    animation: slider 24s infinite alternate;
    z-index: 6;
}
.slider img{
	width: 300px;
	height:150px;
	border-radius:10px; 
	z-index: 7;
} 


@keyframes slider{
	0%{margin-left:  0px;}
	10%{margin-left: 0px;}

	15%{margin-left: -300px;}
	25%{margin-left: -300px;}

	30%{margin-left: -600px;}
	40%{margin-left: -600px;}

	45%{margin-left: -900px;}
	55%{margin-left: -900px;}

	60%{margin-left: -1200px;}
	70%{margin-left: -1200px;}

	75%{margin-left: -1500px;}
	85%{margin-left: -1500px;}

	90%{margin-left: -1800px;}
	100%{margin-left:-1800px;}
}



.comedia {
	width: 48px;
	height: 1000px;
	float: left;
	margin-left:100px; 
}

.comedia section{
	position: absolute;
	background-color: #333;
}
.comedia img,.animadas img{
	float: left;
	margin:1px;
	margin:10px 15px 0px;
	width: 250px;
	height: 300px;
	border-radius:0px 30px ;
	
}
.animadas{
	margin-left:500px; 
	width: 48px;
	height: 1000px;
	float: left;
}
.slitext{
	height: 20px;
	width: 30px;
	color: white;
	margin: 0px 35px 20px;
}
.comtext{
    font-size:40px;
	color: white;
	margin-left:20px; 
	width: 300px;
	
		
}	




