
*{
	margin:0;
	padding: 0;
	z-index: 0;
}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/*logobarra parte supperior*/
body{
	background-image: url("../aseets/fondo.jpg");
}


#ind{
	bottom:0px;
	top: 0px;
	right:0px;
	left: 0px;  
	margin:0 auto;
	width: 1349px;
	height:60px; 
	background-color:black; 
	font-family:arial, helveltica,san-serif; 
	z-index: 6;
	text-align:center;
}
 #ind2{
	text-align:center;
	
	width: 1349px;
	height:60px; 
	background-color:black; 
	font-family:arial, helveltica,san-serif; 
	z-index: 6;
} 
.nad{
	margin: auto;
	margin-left: 250px;
}
.nar{
	background: -webkit-linear-gradient(#F83636,#C44B09);
	margin:auto;
	height:480px; 
}
ul,ol{
	z-index: 2;
	list-style: none;
	width:1300px; 

}

.nad li a{
	
	color:#fff;
	text-decoration:none; 
	font-family: 'Indie Flower',cursive;
	font-size: 17px;  
	padding:18px 15px; 
	display:block;  
	margin: auto;
	
}
.col li a{
	background-color:firebrick;
	height: 21px; 
	border:2px solid black;
}
.nad li a:hover{
	background-color:#304545; 
}
.nad > li{
 float:left; 
 width:150px; 
 height:50px;
 z-index: 1;
}

.nad li ul{
	display:none;
	position: absolute;
	min-width: 140px;
}
.nad li:hover > ul{
	display: block;
	width:150px;
	height: 30px; 

}

.logo {
    width: 250px;
    height: 170px;
    position: absolute;
    left:0px;
    top:-45px;
    margin-right:100px; 
    margin:0 auto;
    float: left;  
}
.slider, .slidervertical{
	top: 0px;
	overflow: hidden;
	z-index: 6;

}
.slider{
	width: 1200px;
	margin-left: 80px;
}
.slidervertical{
	width:1349px;
	height:300px ;
}
.slidervertical img{
	height: 700px;
	width: 1349px;
	animation: slidervertical 8s infinite alternate;
}

.slider ul{
    list-style: none;
    width: 2800px;
    display: flex; 
    animation: slider 24s infinite alternate;
    z-index: 6;
}
.slider img{
	width: 600px;
	height:400px;
	border-radius:10px; 
	z-index: 7;
} 
@keyframes slidervertical{
	0%{margin-top:  0px;}
	10%{margin-top: 0px;}

	15%{margin-top: -50px;}
	25%{margin-top: -50px;}

	30%{margin-top: -90px;}
	40%{margin-top: -90px;}

	45%{margin-top: -130px;}
	55%{margin-top: -130px;}

	60%{margin-top: -180px;}
	70%{margin-top: -180px;}

	75%{margin-top: -210px;}
	85%{margin-top: -210px;}

	90%{margin-top: -330px;}
	100%{margin-top:-330px;}
}
@keyframes slider{
	0%{margin-left:  0px;}
	10%{margin-left: 0px;}

	15%{margin-left: -600px;}
	25%{margin-left: -600px;}

	30%{margin-left: -1200px;}
	40%{margin-left: -1200px;}

	45%{margin-left: -1800px;}
	55%{margin-left: -1800px;}

	60%{margin-left: -2400px;}
	70%{margin-left: -2400px;}

	75%{margin-left: -3000px;}
	85%{margin-left: -3000px;}

	90%{margin-left: -3600px;}
	100%{margin-left:-3600px;}
}


.slitext{
	height: 20px;
	width: 30px;
	color: white;
	margin: 0px 35px 20px;
	font-family: 'Indie Flower', cursive;
}

.por  img{
 width: 240px;
 height: 350px;
 border: rgba(51, 0, 68, 0.5) solid;
 box-sizing: border-box;

}	
.por img:hover{
  border:rgba(255, 0, 1) solid;

}

.portafolio{
	width: 90%;
	max-width:1200px;
	margin: auto;
    
}
.portafolio h1 {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 38px;
	color:black;
	margin: 40px 0px 20px 15px;
}
.portafolio-con{
	width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;

}
.por{
	width: 240px;
	height: 350px;
	position: relative;
	overflow: hidden;
	margin-bottom:30px;  
	}
.portafolio-img{
	transform: all 0.5s; 
}	
.portafolio-text{
    font-family: 'Indie Flower', cursive;
	position: absolute;
	color: #fff;
	bottom: -10px;
	padding: 30px 10px 10px 15px;
	background: rgb(0, 0, 0, 0.9);
	transform: translateY(100%);
	transition: all 0s ease-out;
	font-size:18px; 

}
a{
	text-decoration: none;
	color: #fff;

}
.portafolio-text h2{
	font-size: 20px;
	top:20px;
	margin: auto;
	color: #C44B09; 
	text-align: center;
}
.ajus{
	height:245px; 
}

.ti,.ajus{
	text-align: center;
	width:220px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.clasificacion{
	bottom: 0;
	left: 0;
	margin: 0 auto;
	font-size: 15px;
	transform: translate(-10px)
	
}
.ti{
	height:275px;
}
.por:hover .portafolio-text{
	transform: translateY(0%);
}
.por:hover .portafolio-img{
	transform: scale(1.15);
}
/* pagina dos */

.comedia_log{
	width:1349px ;
	height:250px ;
}
.log_principio{
	width: 1349px;
	height: 250px;
	overflow: hidden
}	

.log_principio section{
	width: 1349x;
	height: 250px;
	position:relative;
	color: #fff;
	background: rgb(0, 0, 0, 0.7);
	transform: translateY(0%);
	transition: all 0s ease-out;
}
.log_principio:hover section{
	transform: translateY(-256.5px)
}
 .video1{
	position: absolute;
	width: 900px;
	height: 515px;
	bottom: 0;
	top: 1500px;
	right: 0;
	left: 50px;
	margin: auto;
} 
 .video1 video{
	width: 900px;
	height: 510px;
	

} 
.infopeliculas img{
	position: relative;
	width: 270px;
	height:350px;	
	top: 20px;
	left:30px;
	right:0;
	bottom:0;
	margin:auto;
	float: left;
}
.infopeliculas h1{
	font-family: 'Indie Flower', cursive;
	text-align: left;
	left:50px;
	top: 40px;
	position: relative;
	color:black;
	font-size: 40px;

}
.infopeliculas p{
	font-family: 'Indie Flower', cursive;
	text-align: justify;
	left:50px;
	top: 40px;
	right: 30px;
	position: relative;
	color: rgb(94, 38, 5);
	font-size: 20px;

}
.infopeliculas{
	width: 1280px;
	height: 300px;
}
.verp{
	position: relative;
	left:-100px;
	top: 90px;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
