*{
	margin:0;
	padding: 0;
	z-index: 0;
}
/*logobarra parte supperior*/
body{
	background-color:black; 
	font-family: "lato";
}
#ind{
	bottom:0px;
	top: 0px;
	right:0px;
	left: 0px;  
	margin:0 auto;
	width: 1345px;
	height:60px; 
	background-color:black; 
	font-family:arial, helveltica,san-serif; 
	z-index: 6;
}
.nad{
	margin: auto;

	margin-left: 250px;
}
.nar{
	background: -webkit-linear-gradient(#F83636,#C44B09);
	margin:auto;
	height:480px; 
}
ul,ol{
	z-index: 2;
	list-style: none;
	width:1300px; 
	margin-left: 40px;
}
.nad li a{
	text-align: center;
	color:#fff;
	text-decoration:none;   
	padding:18px 15px; 
	display:block;

	
}
.col li a{
	background-color:firebrick;
	height: 30px;
	margin: auto; 
	border:2px white ridge; 

}
.nad li a:hover{
	background-color:#304545; 
}

.nad > li{
 float:left; 
 width:150px; 
 height:50px;
 z-index: 1;
}

.nad li ul{
	display:none;
	position: absolute;
	min-width: 140px;
}
.nad li:hover > ul{
	display: block;
	width:150px;
	height: 30px; 


}
.logo {
    width: 300px;
    height: 170px;
    position: absolute;
    left:0px;
    top:-45px;
    margin-right:100px; 
    margin:0 auto;
    float: left;  
}
.slider{

	width: 1200px;
	margin-left: 80px;
	top: 0px;
	overflow: hidden;
	z-index: 6;

}
.slider ul{
    list-style: none;
    width: 2800px;
    display: flex; 
    animation: slider 24s infinite alternate;
    z-index: 6;
}
.slider img{
	width: 600px;
	height:400px;
	border-radius:10px; 
	z-index: 7;
} 


@keyframes slider{
	0%{margin-left:  0px;}
	10%{margin-left: 0px;}

	15%{margin-left: -600px;}
	25%{margin-left: -600px;}

	30%{margin-left: -1200px;}
	40%{margin-left: -1200px;}

	45%{margin-left: -1800px;}
	55%{margin-left: -1800px;}

	60%{margin-left: -2400px;}
	70%{margin-left: -2400px;}

	75%{margin-left: -3000px;}
	85%{margin-left: -3000px;}

	90%{margin-left: -3600px;}
	100%{margin-left:-3600px;}
}


.slitext{
	height: 20px;
	width: 30px;
	color: white;
	margin: 0px 35px 20px;
}
.por  img{
 width: 240px;
 height: 290px;


  
  
}	

.portafolio{
	width: 90%;
	max-width:1200px;
	margin: auto;
    
}
.portafolio h1 {
	text-align: center;
	font-size: 38px;
	color: #fff;
	margin: 40px 0px 20px 15px;
}
.portafolio-con{
	width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;

}
.por{
	width: 240px;
	height: 290px;
	position: relative;
	overflow: hidden;
	margin-bottom:30px;  
	}
.portafolio-img{
	transform: all 0.5s; 
}	
.portafolio-text{

	position: absolute;
	color: #fff;
	bottom: -10px;
	padding: 30px 10px 10px 15px;
	background: rgba(76, 0, 20,0.8);
	transform: translateY(130%);
	transition: all 0s ease-out;

}
.portafolio-text p{
	text-align: center;
	width:220px;
	height:240px;
	margin: auto;
	 

}
.por:hover .portafolio-text{
	transform: translateY(0%);
}
.por:hover .portafolio-img{
	transform: scale(1.15);
}




